.row{
    width: 1000px;
    min-height: 150px;
    height: auto;
    border:1px lightgrey solid !important;
    border-radius: 15px !important;
    margin: auto;
    margin-top: 25px;
}
.contenue{
    margin-top: 10px;
    width: 1000px;
}
.date{
    margin-top: 50px;
}
.url{
    margin-top: 50px;
    
}
form{
    margin: auto;
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.error{
    text-align: center;
    font-size: large;
    color: darkred;
}
.mess{
    text-align: center;
    font-size: large;
    color: darkgreen;
}